@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.menu_tab {
  @apply cursor-pointer select-none text-gray-800;
}
.active_menu_tab {
  @apply select-none rounded-full bg-orange-500 px-4 py-2 text-white;
}
